<h1>
  {{ title }}
  {{todayDate | date: 'short'}}
</h1>
<div *ngFor="let item of videoList">
  <a href="videos/{{ item.slug }}" *ngIf="item.slug === 'item-1'">{{ item.name }}</a>
  <a href="videos/{{ item.slug }}" *ngIf="item.slug !== 'item-1'" style="color: red">{{ item.name }}</a>

  <!-- <div [innerHTML]="item.embed"></div>
  <div [innerHTML]="someItem"></div> -->

  <div style="position: relative; height:0; padding-bottom: 56.25%" *ngIf="item.embed">
    <iframe [src]="getEmbedUrl(item) | safe" width="640" height="360" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
</div>
